<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header">
</head>
<body class="container">
<div class="panel panel-default">
    <div class="panel-body">
        <form th:action="@{/edit}" th:method="post" role="form" th:object="${employee}">
            <legend>Thêm mới nhân viên</legend>

            <div class="form-group">
                <label th:field="*{id}"></label>
                <input th:type="hidden" class="form-control" th:field="*{id}">
                <label th:field="*{name}">Chọn nhóm nhân viên:</label>
                <select class="form-control" th:field="*{department}">
                    <option th:each="d : ${departments}" th:value="${d.id}" th:text="${d.name}"
                            th:selected="(*{department.id} == ${d.id})"></option>
                </select>
                <label th:field="*{name}">Tên nhân viên:</label>
                <input class="form-control" th:field="*{name}">
                <label th:field="*{brithday}">Ngày sinh:</label>
                <input class="form-control" th:field="*{brithday}">
                <label th:field="*{gender}">Giới tính:</label>
                <input type="radio" name="gender" value="Nam" th:checked="(*{gender} == 'Nam')"> Nam
                <input type="radio" name="gender" value="Nu" th:checked="(*{gender} == 'Nu')"> Nữ <br>
                <label th:field="*{cmnd}">Số CMND:</label>
                <input class="form-control" th:field="*{cmnd}">
                <label th:field="*{phonenumber}">Số điện thoại:</label>
                <input class="form-control" th:field="*{phonenumber}">
                <label th:field="*{email}">Email:</label>
                <input type="email" class="form-control" th:field="*{email}">
                <label th:field="*{address}">Địa chỉ:</label>
                <input class="form-control" th:field="*{address}">

            </div>
            <button type="submit" class="btn btn-primary">Sửa</button>
        </form>
    </div>
</div>
</body>
<footer th:replace="layout :: footer"></footer>
</html>
